input.plusBtn {
	width: 100%;
	height: 35px;
	background-color: #cd1039;
	color: aliceblue;
	font-size: 30px;
	border-radius: 5em;
	margin-bottom: 20px;
}

input.plusBtn:hover {
	cursor: pointer;
}

input.subBtn {
	width: 100%;
	height: 35px;
	background-color: #2828cd;
	color: whitesmoke;
	font-size: 20px;
	border-radius: 5em;
}

input.subBtn:hover {
	cursor: pointer;
}
